tao_weight/us_lprnet_baseline18_deployable.onnx filter=lfs diff=lfs merge=lfs -text
weights/Final_LPRNet_model.pth filter=lfs diff=lfs merge=lfs -text
tao_weight/lprnet_with_shapes.onnx filter=lfs diff=lfs merge=lfs -text
